* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
   padding: 0;
   position: relative;
   margin: 0;
}

body {
	/*font-family: 'Inconsolata', monospace;*/
	font-family: 'Cuprum', sans-serif;
}

a { text-decoration: none; }
li { list-style-type: none; }

.container {
	width: 90%;
	margin: 0 auto;
}

/*------------------------------------*\
  #HOME-SECTION
\*------------------------------------*/

#home {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/frontend-dev.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
	height: 110vh;
}

#home .welcome {
	position: absolute;
    margin-top: 50vh;
    margin-left: 30%;
    color: wheat;
}

#home .welcome #text { 
	font-size: 42pt;
	padding-right: 4px;
	border-right: .12em solid wheat;
	
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: wheat; }
}

.fixed {
	position: fixed !important;
	width: 100% !important;
	top: 0;
	z-index: 99999;
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}


.fixed .container nav { 
	display: flex;
	align-items: center;
	justify-content: center;
}
#header {
	background-color: #424242;
	position: absolute;
   	height: 50px;
    bottom: 0;
    width: 100%;
}

#header  .container nav {
	display: flex;
	justify-content: center;
    align-items: center;
    height: 50px;

}

#header  .container nav ul {
	display: flex;
    justify-content: center;
    width: 100%;
}

#header  .container nav ul li {
	display: block;
    font-size: 18pt;
    margin-right: 2%;
}

#header  .container nav ul li:hover a{
	background-border: 1px solid white;
	border-radius: 5px;
	background: white;
	color: orange;
}

#header  .container nav ul li a {
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	
}

#home #redes-trabalho {
	position: absolute;
    margin-top: 4%;
    display: flex;
    width: 30%;
}


#home #redes-trabalho ul { display: flex; }
#home #redes-trabalho ul li { margin-right: 1em; }
#home #redes-trabalho ul li:hover { margin-top: -1em; }
#home #redes-trabalho ul li i {
	font-size: 200%;
	color: white;
	
}

#home #eu {
	position: absolute;
	text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80vh;
    color: wheat;
}

#home #eu .circle {
	border-radius: 50%;
	width: 3em;
	height: 3em;
	margin-bottom: 0.4%;
	background-size: cover;
	background-position: center;
	background-image: url('../images/eu.jpg');
} 


/*------------------------------------*\
  #SOBRE-SECTION
\*------------------------------------*/

#sobre {
	padding-top: 96px;
	padding-bottom: 96px;
}

#sobre .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#sobre .container p { 
	font-size: 20pt;
}


#sobre .curriculo {
	padding: 2%;
	text-align: center;
	color: #424242;
	border: 4px solid #424242;
	background-color: transparent;
	width: 20%;
	font-size: 1em;
	margin-top: 2%;
}

/*------------------------------------*\
  #TRABALHOS-SECTION
\*------------------------------------*/

#trabalhos {
	padding-bottom: 96px;
	padding-top: 96px;
}
#trabalhos h1 {
	text-align: center;
	color: #424242;
	font-size: 4em;
	margin-bottom: 1em;
}
#trabalhos .trabalhos-secao {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#trabalhos .trabalhos-secao .trabalho {
	
    
    width: 33%;
    height: 18em;
    position: relative;
    margin-right: 6%;
    margin-bottom: 2%;
    /*overflow: hidden;*/ 
    transform-style: preserve-3d;
  	transition: all 1.0s linear;
}

#trabalhos .trabalhos-secao .trabalho:nth-child(even) {
	margin-right: 0;
}
#trabalhos .trabalhos-secao .trabalho:hover {
	transform: rotateY(180deg);
  	box-shadow: -1px 1px 10px 5px rgba(0,0,0,0.3);
}

#trabalhos .trabalhos-secao .trabalho #imetac { background-image: url('../images/imetac.png'); }
#trabalhos .trabalhos-secao .trabalho #construindo { background-image: url('../images/construindo.png'); }
#trabalhos .trabalhos-secao .trabalho #joao { background-image: url('../images/joao.png'); }
#trabalhos .trabalhos-secao .trabalho #uwe { background-image: url('../images/uwe.png'); }
#trabalhos .trabalhos-secao .trabalho #waste-free { background-image: url('../images/waste-free.png'); }
#trabalhos .trabalhos-secao .trabalho #mosby { background-image: url('../images/mosby.png'); }


#trabalhos .trabalhos-secao .trabalho .image {
	
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
    width: 100%;
	background-size: contain;
	position: absolute;
	backface-visibility: hidden;
	background-color: white;
	/*transition: all 1s;*/

}

#trabalhos .trabalhos-secao .trabalho .back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  color: white;
  text-align: center;
  background-color: #aaa;
}

#trabalhos .trabalhos-secao .trabalho .back .title {
	margin-bottom: 2em;
	font-size: 1.2em;
}

#trabalhos .trabalhos-secao .trabalho .back .first-text {
	margin-bottom: 1em;
	line-height: 
}
#trabalhos .trabalhos-secao .trabalho .back  a {
	text-decoration: underline;
	color: black;
	margin-right: 1.2em;
	font-weight: bold;
}
#trabalhos .trabalhos-secao .trabalho .back .second-text {
	margin-bottom: 4em;
}

/*#trabalhos .trabalhos-secao .trabalho .image:hover {
	transform: scale(1.2);
	backface-visibility: hidden;
}*/

/*#trabalhos .trabalhos-secao .trabalho:hover {
	box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.3);
	
}*/

/*------------------------------------*\
  #RECOMENDACAO-SECTION
\*------------------------------------*/

#recomendacoes {
	padding-top: 96px;
	padding-bottom: 96px;
	position: relative;
}

#recomendacoes .slick-prev, #recomendacoes .slick-next {
    font-size: 10pt;
}
#recomendacoes .slick-prev i, #recomendacoes .slick-next i {
	color: red;
	font-size: 200%;
}
#recomendacoes .slick-prev {
	left: 20px;
}
#recomendacoes .slick-next {
	right: 20px;
}

#recomendacoes .recomendacao .mensagem {
	margin-bottom: 2em;
}



/*------------------------------------*\
  #FOOTER-SECTION
\*------------------------------------*/

footer {
	background-color: #424242;
	width: 100%;
	height: 10vh;
	position: absolute;
	bottom: 0;
}

footer .container {
	display: flex;
	margin-top: 1em;
	color: white;
	font-size: 15pt;
	justify-content: space-around;
}